
<div class="container mt-5">

    <h2 style="margin-top: 120px;"> {{ heading }}</h2>
    <hr style="color: rgba(255, 255, 255, 0.568);">

    <div class="row row-cols-1 row-cols-md-4 g-4 mt-4">
    {% if anime_list %}
        {% for anime in anime_list %}
            <div class="col">
                <div class="card h-100" style="background-color: transparent;">
                    <a href="#">
                        <img src="{{ anime.cover_image.url }}" class="card-img-top img-hover" alt="{{ anime.title }}">
                    </a>

                    <div class="overlay">
                        <div class="card-btn-box">
                            <a href="{% url 'anime:detailed_anime' anime.id %}">
                                <img class="video-btn"  src="/media/icons/play.svg">
                            </a>
                            {% if anime in request.user.animes.all %}
                                <a href="{% url 'users:delete_from_watchlist' anime.id %}"> 
                                    <img class="watchlist-delete-btn" src="/media/icons/x-lg.svg">
                                </a>
                            {% else %}
                                <a href="{% url 'users:add_to_watchlist' anime.id %}"> 
                                    <img class="bookmark-btn" src="/media/icons/plus-lg.svg">
                                </a>
                            {% endif %}
                            {% if request.user.is_authenticated and request.user.is_superuser %}
                                <a href="{% url 'anime:delete_anime' anime.id %}"> 
                                    <img class="delete-anime-btn" src="/media/icons/trash3.svg">
                                </a>   
                            {% endif %}
                            
                        </div>
                    </div>

                    <div class="card-body">
                        <h6 class="card-title">{{ anime.title }}</h6>
                        {% for language in anime.subtitle_or_dub.all %}
                            <small class="card-text" style="color: #f47521">{{ language.name }} |</small>
                        {% endfor %}
                        
                        <p class="card-text mb-2">{{ anime.description |slice:":60" }}</p>
                        <small class="card-text">Seasons: {{ anime.total_seasons }}</small>
                        <br>
                        <small class="card-text">Episodes: {{ anime.total_episodes }}</small>
                        <br>
                        <small class="card-text">☆ {{ anime.rating }}</small>
                    </div>            
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No anime data available.</p>
    {% endif %}
    </div>
</div>


