{% extends 'base.html'%}

{% block title %} Delete from watchlist {% endblock %}


{% block content %}
    <div class="container mt-5">
        <form method="POST", action="">
            {% csrf_token %}
            <h3 style="margin-top: 120px; color: white;">Are you sure you want to delete "{{ anime }}"?</h3>
            <input type="submit" value="Delete" class="btn btn-danger">
            <a href="{% url 'profile' request.user.id %}" class="btn btn-secondary" >Cancel</a>

        </form>
    </div>

        
{% endblock %}