{% extends 'base.html'%}

{% block title %} Profile {% endblock %}

{% block content %}

    <main>
        <div class="img-box">
            <img src="{{ anime.cover_image.url }}" class="detailed-anime-background" alt="{{ anime.title }}">
            <img src="{{ anime.cover_image.url }}" class="detailed-anime-cover" alt="{{ anime.title }}">
        </div>
        <div class="container mb-5">
        
            <div class="row align-items-md-stretch">
                <div class="col-md-7">
                    <div class="h-100 p-3" style="background-color: none;">
                        <h2>{{ anime.title }}</h2>
                        {% for language in anime.subtitle_or_dub.all %}
                            <small style="color: #f47521">{{ language.name }} |</small>
                        {% endfor %}
                        <div>
                            <small class="card-text">Average Rating: <span style="color: #41748d;">{{ anime.rating }}☆</span></small>
                            <p><small class="card-text">Status: {{ anime.status }} </small></p>
                            <small class="card-text">Seasons: {{ anime.total_seasons }}</small>
                            <p><small class="card-text">Episodes: {{ anime.total_episodes }}</small></p>
                        </div>
                        <p style="color:white;">{{ anime.description }}</p>
                        {% for genre in anime.genres.all %}
                            <div class="badge genre-badge">{{ genre.name }}</div>
                        {% endfor %}
                        <div>
                            
                            {% if anime in request.user.animes.all %}
                                <a href="{% url 'users:delete_from_watchlist' anime.id %}" class="btn add-watchlist-btn">
                                    <img class="delete-watchlist-icon" src="/media/icons/x-lg.svg">Delete from watchlist 
                                </a>
                            {% else %}
                                <a href="{% url 'users:add_to_watchlist' anime.id %}" class="btn add-watchlist-btn"> 
                                    <img class="add-watchlist-icon" src="/media/icons/plus-lg.svg">Add to watchlist
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="h-100 p-5 ">
                            {% for season in seasons %}
                            {% if forloop.first %}
                                {% for episode in season.episodes.all %}
                                    {% if forloop.first %}
                                    <!-- Display the first episode image -->
                                        <div class="card" style="border-radius: 0; background-color: transparent; border: none;">
                                            <img  src="{{ episode.episod_cover_image.url }}" alt="{{ episod_cover_image.title }}" style="width: 100%; max-width: 400px;">
                                            <div>
                                                <a href="{% url 'anime:episode_detail' anime.id season.id episode.id %}" class="btn episode-play-btn"> 
                                                    <img class="btn-video-icon" src="/media/icons/play.svg">Start watching E1
                                                </a>
                                            </div>    
                                        </div> 
                                    {% endif %}  
                                {% endfor %}
                            {% endif %}
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        
        <div class="container">
            <div class="card" style="background-color: rgba(0, 0, 0, 0.932); border-radius: 0; padding: 5%; margin: 6.25rem 0 6.25rem; color: #ffffff;">
                <h3 style="margin-bottom: 30px;">Comments</h3>
                {% if user.is_authenticated %}
                <div class="card mb-5">
                    <form method="POST", action="">
                        {% csrf_token %}

                        <div class="form-floating">
                            <textarea name="body" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Leave a comment here</label>
                        </div>
                        
                        <button type="submit" class="btn btn-primary comment-btn m-3" id="liveToastBtn" >Post</button>
                    </form>  
                </div>
                {% endif %}
                {% for comment in comments %}
                    <div class="card text-bg-dark mb-3 p-3">
                        <div class="row g-0">
                            <div class="col-md-1">
                                <a href="{% url 'users:profile' comment.user.id %}">
                                    <img src="{{ comment.user.avatar.url }}" style="border-radius: 50%; width: 60px; height: 60px;"/>
                                </a>
                            </div>
                            <div class="col-md-10">
                                <p style="margin-bottom: 5px; color: #f47521;">{{comment.user.username}}</p>
                                <p style="margin: 0;">{{ comment.body }}</p>
                                <p style="margin: 0;"><small class="card-text" >{{ comment.created | timesince }} ago</small></p>
                                
                            </div>
                            <div class="col-md-1" data-bs-theme="dark">
                                {% if request.user == comment.user %}
                                    <a href="{% url 'anime:delete_comment' comment.id %}">
                                        <button type="button" class="btn-close" aria-label="Close"></button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div> 
        </div>
    </main>



  {% endblock %}