<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top bg-dark" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Anime</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex align-items-center" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>

        {% if request.user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'profile' request.user.id %}">Profile</a>
          </li>
        {% endif %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
              Browse
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Popular</a></li>
            <li><a class="dropdown-item" href="#">New</a></li>
            <li><a class="dropdown-item" href="#">Alphabetical</a></li>
            <li><a class="dropdown-item" href="{{ request.path }}">All</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
            Genre
          </a>
          <ul class="dropdown-menu">
              <table class="table table-borderless table-sm">
                  <tbody>
                    <tr>
                      {% for genre in genres|slice:":3"%}
                      <td><a class="dropdown-item" href="{{ request.path }}?query={{genre.name}}">{{genre}}</a></td> 
                      {% endfor %}
                    </tr>
                    <tr>
                      {% for genre in genres|slice:"3:6"%}
                      <td><a class="dropdown-item" href="{{ request.path }}?query={{genre.name}}">{{genre}}</a></td> 
                      {% endfor %}
                    </tr>
                    <tr>
                      {% for genre in genres|slice:"6:"%}
                      <td><a class="dropdown-item" href="{{ request.path }}?query={{genre.name}}">{{genre}}</a></td> 
                      {% endfor %}
                    </tr>
                  
                    <!-- <tr>
                      <td><a class="dropdown-item" href="#">Action</a></td>
                      <td><a class="dropdown-item" href="#">Fantasy</a></td>
                      <td><a class="dropdown-item" href="#">Supernatural</a></td>
                    </tr>
                    <tr>
                      <td><a class="dropdown-item" href="#">Advanture</a></td>
                      <td><a class="dropdown-item" href="#">Music</a></td>
                      <td><a class="dropdown-item" href="#">Sports</a></td>
                    </tr>
                    <tr>
                      <td><a class="dropdown-item" href="#">Comedy</a></td>
                      <td><a class="dropdown-item" href="#">Romance</a></td>
                      <td><a class="dropdown-item" href="#">Thriller</a></td>
                    </tr>
                    <tr>
                      <td><a class="dropdown-item" href="#">Drama</a></td>
                      <td><a class="dropdown-item" href="#">Sci-Fi</a></td>
                      <td><a class="dropdown-item" href="#">Shonen</a></td>
                    </tr> -->
                  </tbody>
              </table>     
          </ul> 
        </li>  
      </ul>
      
      <form class="d-flex mx-auto" role="search" action="" method="GET" >
          <div class="input-group">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="query" placeholder="Search">
            <button class="btn btn-outline-danger"  type="submit">Search</button>
          </div>
      </form>
      
      <div class="btn-group ms-auto">
        {% if user.is_authenticated %}
          <button type="button" class="btn btn-outline-danger"><a href="{% url 'logout' %}" class="login-link">Log Out</a></button>
        {% else %}
          <button class="btn join-btn" type="submit"><a href="{% url 'register' %}" class="join-link">Join Now</a></button>
          <button type="button" class="btn btn-outline-danger"><a href="{% url 'login' %}" class="login-link">Log In</a></button>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
