<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top bg-dark" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'anime:home' %}">Anime</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex align-items-center" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'anime:home' %}">Home</a>
        </li>

        
        {% if request.user.is_authenticated and request.user.is_superuser%}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                User Menu
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'users:profile' request.user.id %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'anime:add' %}">Add new anime</a></li>
              </ul>
            </li>
            {% elif request.user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{% url 'users:profile' request.user.id %}">Profile</a>
              </li>

        {% endif %}

       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
            Genre
          </a>
          <ul class="dropdown-menu">
              <table class="table table-borderless table-sm">
                  <tbody>
                    <tr>
                      {% for genre in genres|slice:":3"%}
                      <td><a class="dropdown-item" href="{{ request.path }}?query={{genre.name}}">{{genre}}</a></td> 
                      {% endfor %}
                    </tr>
                    <tr>
                      {% for genre in genres|slice:"3:6"%}
                      <td><a class="dropdown-item" href="{{ request.path }}?query={{genre.name}}">{{genre}}</a></td> 
                      {% endfor %}
                    </tr>
                    <tr>
                      {% for genre in genres|slice:"6:9"%}
                      <td><a class="dropdown-item" href="{{ request.path }}?query={{genre.name}}">{{genre}}</a></td> 
                      {% endfor %}
                    </tr>
                    <tr>
                      <td><a class="dropdown-item" href="{{ request.path }}">All</a></td>
                    </tr>
                    
                  </tbody>
              </table>     
          </ul> 
        </li>  
      </ul>
      
      <form class="d-flex mx-auto" role="search" action="" method="GET" >
          <div class="input-group">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="query" placeholder="Search">
            <button class="btn btn-outline-danger"  type="submit">Search</button>
          </div>
      </form>
      
      <div class="btn-group ms-auto">
        {% if request.user.is_authenticated %}
          
          <div class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'users:profile' request.user.id %}">
              <img src="{{ request.user.avatar.url }}" class="profile-icon" />
            </a>
          </div>
          <button type="button" class="btn btn-danger" style="border-radius: 5px;"><a href="{% url 'users:logout' %}" class="login-link">Log Out</a></button>
        {% else %}
          <button class="btn join-btn" type="submit"><a href="{% url 'users:register' %}" class="join-link">Join Now</a></button>
          <button type="button" class="btn btn-outline-danger"><a href="{% url 'users:login' %}" class="login-link">Log In</a></button>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
